.tg  {border-collapse:collapse;border-spacing:0;width: 80%}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:11px;
  overflow:hidden;padding:2px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:11px;
  font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-f1jo{background-color:#ff0000;text-align:left;vertical-align:top}
.tg .tg-qlhg{background-color:#f6eb14;text-align:left;vertical-align:top}
.tg .tg-vu4r{background-color:#efefef;border-color:inherit;font-size:11px;text-align:left;vertical-align:top}
.tg .tg-b45z{background-color:#ff9600;text-align:left;vertical-align:top}
.tg .tg-ccau{background-color:#f7f7f7;font-size:11px;text-align:left;vertical-align:top;font-weight: 700;}
.tg .tg-3n0h{background-color:#c80000;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-azi9{background-color:#ffc800;text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}